@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma-badge/dist/css/bulma-badge";


.content figure pre {
  text-align: initial;
}

#search-form p {
  width: 47px;
  transition: all .30s;
}

#search-form span i {
  color: #363636;
}

#menu-frame {
  width: 295px;
}

#menu-frame .badge {
  margin-left: 0.5rem;
}

#main-frame {
  max-width: 729px;
  width: 100%;
}
