<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <!-- Generarted by https://www.favicon-generator.org -->

    
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/ico/favicon-16x16.png">
    <link rel="manifest" href="/assets/ico/manifest.json">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/assets/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#FFFFFF">
    
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <nav class="level container is-fluid">
      <!-- Left Side -->
      <div class="level-left">
        <div class="level-item">
          <a href="/" title="Rockheung's Sundry" rel="home">
            <img src="/assets/ico/home.png" class="img-rounded home-img" alt="home" >
          </a>
        </div>
      </div>
      <!-- Right Side -->
      <div class="level-right">
        <div class="level-item">
          <form class="field" method="get" action="https://www.google.com/search" target="_blank" style="margin-bottom: 0rem;">
            <p class="control has-icons-right"
               style="width: 48px; transition: all .30s;"
               onmouseover="this.style.width='220px';"
               onfocusin="this.style.width='220px';"
               onfocusout="this.style.width='48px';">
              <input class="input" type="text" name="q" maxlength="255" placeholder="Search via Google" style="border-color: #FFF; box-shadow: none;">
              <input type="hidden" name="sitesearch" value="https://blog.rockheung.xyz">
              <span class="icon is-right"><i class="fas fa-search"></i></span>
            </p>
          </form>
        </div>
        <div class="level-item">

          <a class="button" id="sidebarCollapse">
            <span class="fas fa-bars"></span>
          </a>
        </div>
      </div>
    </nav>
  </section>
  </body>
</html>
